<div class="flex-grow-1 container-p-y">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body ">
        <div class="row ">
          <div class="justify-content-center col-xs-12 col-sm-12 col-md-6">
            <h1 class="pull-left text-dark"><strong>&nbsp;Listado de Grados y Carreras&nbsp;
              <strong class="text-primary"><mat-icon>workspace_premium</mat-icon></strong>
            </strong></h1>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <ul class="nav justify-content-end">
              <li class="nav-item" (click)="this.irADireccion()" type="button">
                <a class="nav-link disabled text-warning" href="#"
                  style="padding-left: 0px; padding-right: 0px;">Dirección</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled text-dark text" href="#" style="padding-left: 5px; padding-right: 10px;">/
                  Grados y Carreras</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-none d-sm-none d-md-none d-lg-block" *ngIf="this.cargandoDatos == false">
  <div class="card">
    <div class="card-header">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <button type="button" class="btn btn-primary text-white pt-1" (click)="crearGradoOCarrera()"><mat-icon>workspace_premium</mat-icon>&nbsp;Registrar Grado/Carrera</button>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <td colspan="3">
                <div class="d-flex justify-content-end col-md-12">
                  <div class="col-md-6">
                    <label for="filtro" class="form-label"><span class="text-bold">
                      <strong>Filtrar por descripción</strong></span></label>
                    <input type="text" class="form-control"  maxlength="100"
                    [(ngModel)]="this.filtro">
                  </div>
                  <div class="d-flex justify-content-end col-md-6">
                    <pagination-controls class="pagination" *ngIf="this.gradosYCarrerasListado.length > 10"
                      (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="table-dark">
              <th scope="col">Descripción  de Grado/Carrera</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody *ngIf="this.gradosYCarrerasListado.length > 0">
            <tr *ngFor="let item of this.gradosYCarrerasListado | filtroGradosCarreras : this.filtro  | paginate : { itemsPerPage: 10, currentPage: p };let i = index">
              <td>{{item.DESCRIPCION}}</td>
              <td><button type="button" class="btn btn-primary btn-sm text-white"
                  (click)="irAEditarGradoOCarrera(item.ID)">
                  <i class="bi bi-pencil-fill text-white"></i></button></td>
            </tr>
          </tbody>
          <div *ngIf="this.gradosYCarrerasListado.length == 0 || this.gradosYCarrerasListado.length == null">
            <h2 class="text-info">No hay grados o carerras a mostrar</h2>
          </div>
          <tfoot *ngIf="this.gradosYCarrerasListado.length > 10">
            <tr>
              <th colspan="3">
                <div class="d-flex justify-content-end">
                  <pagination-controls class="pagination" *ngIf="this.gradosYCarrerasListado.length > 10"
                    (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                </div>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="container d-block d-sm-block d-md-block d-lg-none" *ngIf="this.cargandoDatos == false">
  <table class="table table-hover">
    <thead>
      <tr>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <button type="button" class="btn btn-primary text-white pt-1" (click)="crearGradoOCarrera()">
              <mat-icon>workspace_premium</mat-icon>&nbsp;Registrar Grado/Carrera</button>
          </li>
        </ul>
      </tr>
      <tr>
        <pagination-controls class="pagination" *ngIf="this.gradosYCarrerasListado.length > 10" (pageChange)="p = $event"
          previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </tr>
    </thead>
    <tbody *ngIf="this.gradosYCarrerasListado.length > 0">
      <tr *ngFor="let item of this.gradosYCarrerasListado | filtroGradosCarreras : this.filtro | paginate: { itemsPerPage: 10, currentPage: p } let i = index">
        <div class="col-12">
          <div class="list-group" id="list-tab" role="tablist">
            <!-- <a class="list-group-item list-group-item-action disabled bg-dark text-white" id="list-home-list"
              data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home"><strong>#
                {{item.id}}</strong></a> -->
            <a class="list-group-item list-group-item-action disabled text-dark"
              [ngClass]="{'bg-body-secondary': i % 2 === 0}" id="list-profile-list" data-bs-toggle="list"
              href="#list-profile" role="tab" aria-controls="list-profile">Descripción de Grado/Carrera<br>
              <strong>{{item.DESCRIPCION}}</strong></a>

            <a class="list-group-item list-group-item-action " [ngClass]="{'bg-body-secondary': i % 2 === 0}"
              id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab"
              aria-controls="list-settings">
              <button type="button" class="btn btn-primary btn-lg text-white"
                (click)="irAEditarGradoOCarrera(item.ID)"><i class="bi bi-pencil-fill text-white"></i></button>
            </a>
          </div>
        </div>
      </tr>
    </tbody>
    <div *ngIf="this.gradosYCarrerasListado.length == 0 || this.gradosYCarrerasListado.length == null">
      <h2 class="text-info">No hay grados o carerras a mostrar</h2>
    </div>
    <tfoot>
      <tr>
        <pagination-controls class="pagination" *ngIf="this.gradosYCarrerasListado.length > 10" (pageChange)="p = $event"
          previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </tr>
    </tfoot>
  </table>
</div>
