<div class="modal fade" id="modal-espera-loader" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col mb-3">
            <span class="text-center">
              <div class="demo-inline-spacing">
                <div class="spinner-border spinner-border-lg text-success" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </span>
          </div>
        </div>
        <div class="row g-2">
          <span class="text-center text-bold">
            <h4>
              {{this.titulo}}
            </h4>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Dialogo bootstrap para esperar -->
<!-- <div id="modal-alert-loader" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">
        <div class="ball-clip-rotate text-center">
          <div></div>
        </div> -->
        <!-- <div class="text-center"><div class="loader text-center"></div></div> -->
      <!-- </div>
    </div>
  </div>
</div> -->
