.button-right
{

  position: absolute;
  top: 30%;
  left: 75%;
  border-radius: 100%;
  color: rgb(255, 255, 255);
  border-color: transparent;
  background: linear-gradient(to right,#919191,transparent);
  width: 85px;
  height: 85px;
  /* transform: translate(85%, 650%); */
}
